@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap");
/* ----- Browser Defaults ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background: #95d2dd;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vw;
  height: 350px;
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.quote__box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  height: 100%;
}

.quote__content {
  padding: 30px;
  font-size: 1.5rem;
  text-align: left;
}

.quote__author {
  padding-left: 30px;
  font-style: italic;
  text-align: left;
}

.quote__button {
  align-self: flex-end;
  padding: 15px;
  letter-spacing: 2;
  font-family: "Merriweather", serif;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  font-weight: 500;
  border: none;
  cursor: pointer;
  background: #000000;
  color: white;
}

.quote__button:hover {
  background: #ffffff;
  color: #000000;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

#tweet {
  cursor: pointer;
}

i {
  font-size: 30px;
}

footer {
  font-family: "Merriweather", serif;

  color: white;
}

footer a {
  text-decoration: none;
  color: #54abce;
}

@media (max-width: 800px) {
  .container {
    width: 60vw;
  }
  .quote__box {
    padding: 20px;
  }
  .quote__content {
    font-size: 1.5rem;
  }

  .quote__author {
    font-size: 0.8rem;
  }
  .quote__button {
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .container {
    height: 500px;
  }

  .quote__content {
    font-size: 1.2rem;
  }

  .quote__button {
    font-size: 0.7rem;
  }
}
